body {
	padding: 0 30px;
	font-size: 18px;
	line-height: 26px;
	font-family: "Arial", sans-serif;
	color: white;
	background-color: #333;
	/*background-image: url('images/good_background.png');/*DEL */
}




ul.horizon-nav
{
  position: fixed;
  top:0px;
  left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #009d4b;
  width:100%;
}

ul.horizon-nav li 
{
  float: left;
}

ul.horizon-nav li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;
  color:black;
}

ul.horizon-nav li a:hover:not(.active) 
{
  background-color: limegreen;
}



ul.nav-algorithm
{
  margin-left:25%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #009d4b;
  width:100%;
}

ul.nav-algorithm li 
{
  float: top;
}

ul.nav-algorithm li a 
{
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;

}

ul.nav-algorithm li a:hover:not(.active) 
{
  background-color: limegreen;
}




ul.in_site_navigation
{
  height: 100%;
  position: fixed;
  top:61px;
  left: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;

}

ul.in_site_navigation li 
{
  float: top;
}

ul.in_site_navigation li a 
{
  color:white;
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
}

ul.in_site_navigation li h2
{
  display: block;
  text-align: left;
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 500;

}

ul.in_site_navigation li a:hover:not(.active) 
{
  background-color: #005f4b;
}






main
{
	margin-left: 25%;
	margin-top:5%;
	width:50%;
}





code {
  color: limegreen;
  font-weight: bold;
  font-size:20px;
}


pre
{
	background-color:#202020;
  color: limegreen;
  /*font-family: "Courier New", "Courier", monospace;*/
  font-weight: bold;
  font-size:20px;
}



footer
{
	margin-top: 30px;
	padding-top: 10px;
	text-align: center;
	color: #aaaaaa;
	border-top: 1px solid #aaaaaa;

}
